{% extends 'base.html' %}

{% block content %}
  <div class="row">

    <div class="col-md-4">
      {% if request.user.is_authenticated %}
        <br>
        <div class="card card-with-shadow">
          <div class="content">
            <h3 class="title", style="text-align: center;">All Groups</h3>
            <hr>
            <ul class="list_unstyled">
              {% for group in all_groups %}
                <li class="group li-with-bullet">
                  <a href="{% url 'groups:single' slug=group.slug %}">{{ group.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      <br>
      <div class="card card-with-shadow">
    		<div class="content">
          <h3 class="title", style="text-align: center;">Your Groups</h3>
          <hr>
    			<ul class="list_unstyled">

    				{% for other_group in object_list %}
              {% if request.user == other_group.user %}
                <li class="group li-with-bullet">
                  <a href="{% url 'groups:single' slug=other_group.group.slug %}">{{ other_group.group.name }}</a>
                </li>
              {% endif %}
    				{% endfor %}
    			</ul>
    		</div>
  	  </div>
    </div>

    <div class="col-md-8">
      {% for post in object_list %}
        {% include "posts/_post.html" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
